NEXTAUTH_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GA4_PROPERTY_ID=
GSC_SITE_URL=https://zoda.fit/
SHOPIFY_STORE_DOMAIN=zoda-fit.myshopify.com
SHOPIFY_ADMIN_ACCESS_TOKEN=
SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
